@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Cedarville+Cursive&family=League+Gothic&family=Pacifico&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,100;1,300;1,600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Arghya_5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.header .logo
{
    font-size: 40px;
}
.logo a
{
    color: gray;
    text-decoration: none;
    font-weight:700 ;
    letter-spacing: 5px;
    position:relative;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Arghya_5.jpg); */
    background-position: center;
    background-size: cover;
}
nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.header .logo
{
    font-size: 40px;
}
.logo a
{
    color: gray;
    text-decoration: none;
    font-weight:700 ;
    letter-spacing: 5px;
    position:relative;
}
.contact .content
{
    max-width: 800px;
    text-align: center;

}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color:#fff;
}
.contact .content p
{
    font-weight: 300;
    color: rgb(238, 238, 238);
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contact-info
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contact-info .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contact-info .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contact-info .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contact-info .box .text h3
{
    font-weight: 500;
    color: hwb(0 92% 8%);
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: rgb(131, 131, 131);
    border-radius: 25px;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    border-radius: 12px;

}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: black;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;

}
.contactForm .inputBox input[type="submit"]:hover
{
    background: rgb(42, 42, 42);
}

@media(max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contact-info
    {
        margin-bottom: 40px;
    }
    .container .contact-info,
    .contactForm
    {
        width: 100%;
    }
}